<div
  [ngClass]="{ reminder: task.reminder }"
  class="task"
  (dblclick)="onToggle(task)"
>
  <h3>{{ task.text }}
    <div *ngIf="!taskModeEditing; else noTaskModeEditing">
      <fa-icon
        (click)="onEdit(task)"
        [icon]="faEdit"
        style="margin-right: 10px"></fa-icon>
      <fa-icon
        (click)="onDelete(task)"
        [ngStyle]="{'color': 'red'}"
        [icon]="faTimes"></fa-icon>
    </div>
    <ng-template #noTaskModeEditing>
        <fa-icon
          (click)="closeTaskModeEditing()"
          [icon]="faArrowUp"
        ></fa-icon>
    </ng-template>
  </h3>
  <p>{{ task.day }}</p>
</div>
<app-edit-task *ngIf="taskModeEditing" (onEditTask)="editTask($event)" [task]="task"></app-edit-task>

