<h2 class="text-2xl dark:text-gray-200 mb-4">About</h2>
<p class="font-bold">Version: 0.2.2</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum eleifend elit, sed facilisis ipsum venenatis vel. Aenean arcu risus, mattis a mauris at, posuere varius felis. Etiam porttitor efficitur vehicula. Aenean hendrerit elit at odio gravida pulvinar. Fusce ac facilisis lectus, vitae mattis arcu. Donec gravida finibus ipsum, vitae ullamcorper nunc ultrices quis. Vestibulum cursus gravida facilisis.</p>
<br/>
<button routerLink="/">Go Home</button>
