<form *ngIf="showAddTask" class="m-0 pt-0 p-2" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" name="text" class="form-input"
           [(ngModel)]="text"
           id="text" placeholder="Add task">
  </div>
  <div class="form-control">
    <label for="text">Day & time</label>
    <input type="text" name="day"
           [(ngModel)]="day"
           id="day" placeholder="Add Day & Time">
  </div>
  <div class="form-control form-control-check">
    <label for="text">Set Reminder</label>
    <input type="checkbox" name="reminder"
           [(ngModel)]="reminder"
           id="reminder">
  </div>
  <button type="submit" value="Save task" class="w-full">Save task</button>
</form>
